#dark-theme{
    background-color: #213140;
}
.btn-xl-counter {
    padding: 10px 20px;
    font-size: 30px!important;
    border-radius: 10px;
    width:20%;
    text-align: center;
    justify-content: center;
}

.btn-xl {
    padding: 10px 20px;
    font-size: 30px;
    height: 50px;
    border-radius: 10px;
    width:30%;
    text-align: center;
    justify-content: center;
}

.card img {
    display: block;
    margin: 0 auto;
}

.card-body {
    text-align: center;
    justify-content: center;
}

input[type="number"] {
    text-align: center;
    font-size: 50px;
    width: 200px;
}

#reset-button {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width:auto;
    margin: 0 auto;
    display: block;
}
.oysay {
    display: contents;
}
.oysay button {
    width:150px;
}
.col img {
    margin-bottom:10px;
}

.card-body {
    background-color: #e0e0e0;
}
.container-box{
    margin: 85px auto;
    width: 500px;
    height: auto;
    font-family: sans-serif;
}
.vote-img{
    width: 175px;
}
#counter-2,
#counter-1,
#counter-3
{
    all: unset;
    width: 100%;
    height: 50px;
    font-size: 1.6em;
    font-weight: 600;
    background-color: white;
    text-align: center;
}

#counter-total{
    all: unset;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: black;
    width: 75px;
    height: 50px;
    background-color: white;
    font-size: 1.5em;
}
.totatl-count-title{
    color: white;
    font-size: 1.4em;
    text-align: center;
}

@media screen and (max-width:640px) {
    .container-box{
        margin: 85px auto;
        width: 100%;
        height: auto;
        font-family: sans-serif;
    }
}